.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #0008;
    color: white;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
     margin: 0.75rem;
     max-width: 10rem;
     min-height: 4rem;
     max-height: 4rem;
     
  }
  
  .button:hover,
  .button:active {
    background-color: #00008B;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: .25rem;
  }
  
  .btnContainer{
    display: flex;
    justify-content: center;
  }

  .btnContainerDetails{
    display: flex;
  }


  @media screen and (max-width: 768px) {
    .btnContainer {
      align-items: center;

    }

    .btnContainerDetails{
    flex-wrap: wrap;
    }
   
    .icon{
        margin-right: 0;
    }

    .button{
      margin: 0.25rem;
    }
    

   
  }



  @media screen and (max-width: 425px) {
    .btnContainer {
      align-items: center;

    }

    .btnContainerDetails{
    flex-wrap: wrap;
    }
   
    .icon{
        margin-right: 0;
    }

    .button{
      margin: 0.25rem;
      font-size: 0.75rem;
      max-width: 6rem;
      min-height: 3rem;
      max-height: 4rem;
    }
    

   
  }


  
